@page "/project/{projectId:int}"
@inject MyPortfolio.WASM.ProjectApiService projectApi

@using MyPortfolio.Shared
@using MyPortfolio.Shared.ViewModels

<div>

    <h1 class="blog-title">@currentProject.Title</h1>
    <p>@currentProject.CompletionDate</p>
    <p>@currentProject.Requirements</p>
    <p>@currentProject.Description</p>

    <div>
        <input @bind-value="newLanguage" /><button @onclick="assignLanguage">Add</button>
        <ul>
            @foreach (var lang in SelectedProject.Languages)
            {
                <li><a href="langauges/@lang.Id">@lang.Name</a></li>
            }
        </ul>
    </div>


    <NavLink href="@link">Edit</NavLink>
</div>

@code {
    [Parameter]
    public int projectId { get; set; }
    string newLanguage;

    public ProjectViewModel SelectedProject { get; set; } = new ProjectViewModel();

    private Project currentProject = new Project();
    private string link = "";

    private async Task assignLanguage()
    {
        await projectApi.AssignAsync(MyPortfolio.Shared.Project.LanguageSkill, SelectedProject.Id, newLanguage);
    }

    protected override async Task OnInitializedAsync()
    {
        currentProject = await projectApi.GetProjectByIdAsync(projectId);
        link = "blog/edit/" + projectId;
    }

}
