@page "/blog/{projectId:int}"
@inject MyPortfolio.WASM.ProjectApiService projectApi

@using MyPortfolio.Shared

<div>

    <h1 class="blog-title">@currentProject.Title</h1>
    <p>@currentProject.CompletionDate</p>
    <p>@currentProject.Requirements</p>
    <p>@currentProject.Description</p>

    <div>
        <h4>Languages</h4>
        <ul>
                @foreach (var lang in languages)
                {
                    <li><a href="langauges/@lang.Id">@lang.Name</a></li>
                }
        </ul>
    </div>
    <br/>
    <a href="/edit/@projectId">Edit</a>
</div>

@code {
    [Parameter]
    public int projectId { get; set; }

    private Project currentProject = new Project();
    private IEnumerable<Language> languages = new List<Language>();

    protected override async Task OnInitializedAsync()
    {
        currentProject = await projectApi.GetProjectByIdAsync(projectId);
        languages = await projectApi.GetLanguagesByProjectAsync(projectId);
    }
}